body{
   min-height: 100vh;
   width: 100vw;
   overflow-x: hidden;

}
header{
    background-color:#252B42;
}
nav{
display:flex;
justify-content:space-between;
color: white;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    display: flex;
}
li{
    margin: 20px;
    font-size: 20px;
    list-style: none;
}
.logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}
.nav{
    display: flex;
    margin: 15px;
}
button{
    border-radius: 10px;
    width: 120px;
    height: 52px;
    margin-inline: 15px;
    background-color: #23A6F0;
    color: white;
}
button:hover{
    background-color: #252B42;
    cursor: pointer;
}
h3{
    text-align: center;
    color: #23A6F0;
}
.head{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.hi{
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.two{
    border-radius: 5px;
    width: 130px;
    height: 42px;
    margin-inline: 15px;
    background-color: #23A6F0;
}
.main{
    position: relative;
}
.new{
    position: relative;
    left: 550px;
}
.three{
    border-radius: 5px;
    width: 130px;
    height: 42px;
    margin-inline: 15px;
    background-color:#252B42;
    color:#23A6F0;
}
.three:hover{
    background-color: #23A6F0;
    cursor: pointer;
    color: white;
}
.card{
    display:inline-block;
    position: relative;
    left: 200px;
    width: 300px;
    height: 220px;
    background-color: white;
    margin: 10px;
}
.card1{
    position: relative;
    left: 200px;
    width: 300px;
    height: 220px;
    display:inline-block;
    background-color:#23A6F0;
    margin: 10px;
}
h2{
    text-align: left;
    margin-left: 5px;
}
img{
    width: 50px;
    height: 50px;
    margin-right: 200px;
}
.logo2{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 200px;
    left: 200px;
}
.nice{
    width: 400px;
    height: 400px;
    position: relative;
    bottom: 200px;
    left:800px;
}
.second{
    font-size: 20px;
    color:#23A6F0;
}
.hey{
    width:300px;
    height: 550px;
    display: inline-block;
}
.pro{
    width: 100%;
    height: 250px;
}
.eng{
    text-align: left;
    color: #23A6F0;
}
.button{
    border-color: #23A6F0;
    border-radius: 40px;
    width: 120px;
    height: 52px;
    margin-inline: 15px;
    background-color: white;
    color: #23A6F0;
}
.teacher{
    display: inline-block;
    position: relative;
    left:200px;
    margin: 80px;
}
.avatar{
    margin-left : 50px;
    width:100px;
    height: 80px;
    border-radius: 50px;
}
.p1{
    margin-left: 10px;
    font-size: 10px;
}
.stars{
    width:62px;
    height: 22px;
    margin-left:25px ;
}
.reg{
    text-align: left;
    color: black;
    font-weight: bold;
}
h6{
    margin: 0px;
    margin-left: 20px;
}
.feat{
    position: relative;
    top: 200px;
    left: 600px;
}
input{
    width: 400px;
    height: 30px;
}
.subs{ 
    border-radius: 0px;
    width: 100px;
    height:35px;
    background-color: #23A6F0;
    margin: 0px;
}

.foot{
    width: 200px;
    height: 200px;
    display: inline-block;
    position: relative;
    left: 400px;
}
.last{
    position: relative;
    top: 400px;
    background-color: #252B42;
}
.about{
    list-style: none;
    display:block;
    color:white;
}
.about li{
    font-size: 10px;
}
.icon{
    width: 40px;
    height: 20px;
}
.h1{
    color: white;
}
.p{
    color: white;
}
.end{
    position: relative;
    top: 420px;
    left: 500px;
}
.love{
    font-size: 20px;
    font-weight: bold;
}
 .border {
    border: 1px solid red;
    width: 115px;
    height: 6px;
    background-color: red;
    border-radius: 22px;}

